{% load i18n %}

{% block subject %}
Пожалуйста, подтвердите почту на сайте {{ site_name }}
{% endblock subject %}

{% block text_body %}
Вы получили данное письмо, для того чтобы завершить регистрацию на сайте {{ site_name }}.

Пожалуйста, скопируйте данный токен, для активации почты:
<b>{{ code|safe }}</b>

Спасибо, что с нами!
Ваша команда MaDaDev!
{% endblock text_body %}

{% block html_body %}
<p>Вы получили данное письмо, для того чтобы завершить регистрацию на сайте {{ site_name }}.</p>

<p>Код который вы должны ввести в поле подтверждения почты:</p>
<p><b>{{ code|safe }}</b></p>

<p>Спасибо, что с нами!</p>

<p>Ваша команда MaDaDev!</p>

{% endblock html_body %}
