{% load i18n %}

{% block subject %}
Вы сменили пароль на {{ site_name }}
{% endblock subject %}

{% block text_body %}
Вы получили данное письмо, потому что изменили свой пароль на {{ site_name }}.

Спасибо, что с нами!
Ваша команда MaDaDev!
{% endblock text_body %}

{% block html_body %}
<p>Вы получили данное письмо, потому что изменили свой пароль на {{ site_name }}.</p>

<p>Если вы не меняли ваш пароль, свяжитесь с Администрацией сайта {{ site_name }}!</p>

<p>Спасибо, что с нами!</p>
<p>Ваша команда MaDaDev!</p>
{% endblock html_body %}