{% load i18n %}

{% block subject %}
Код, для восстановления пароля {{ site_name }}
{% endblock subject %}

{% block text_body %}
Вы получили данное письмо, для того чтобы восстановить пароль {{ site_name }}.

Пожалуйста, скопируйте данный токен, для восстановления:
<b>{{ code|safe }}</b>

Спасибо, что с нами!
Ваша команда MaDaDev!
{% endblock text_body %}

{% block html_body %}
<p>Вы получили данное письмо, для того чтобы восстановить пароль {{ site_name }}.</p>

<p>Пожалуйста, скопируйте данный токен, для восстановления:</p>
<p><b>{{ code|safe }}</b></p>

<p>Спасибо, что с нами!</p>
<p>Ваша команда MaDaDev!</p>
{% endblock html_body %}